  <!-- Footer -->
  <footer class="footer bg-dark-overlay" style="background-image: url(assets/img/footer/1.jpg); position: relative;">
    <div class="footer-green-overlay"></div>
    <!-- ...le reste du contenu... -->

    <div class="container-fluid">
        <div class="footer__widgets">
            <div class="row">

                <div class="col-lg-3 col-md-3">
                    <div class="widget widget-about-us">
                    
                        <a routerLink="/" class="logo-container flex-child">
                            <img class="logo" src="assets/img/logo_wh.png" alt="logo" style="width: 100px; height: auto;">
                        </a>
                    </div>
                </div> 

                <div class="col-lg-2 col-md-3">
                    <div class="widget widget_nav_menu">
                        <ul>
                            <li><a routerLink="/about" style="color: white;">About</a></li>
                            <li><a routerLink="/services" style="color: white;">Services</a></li>
                            <li><a routerLink="/blog" style="color: white;">Blog</a></li>
                            <li><a routerLink="/contact" style="color: white;">Contact</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3">
                    <div class="widget widget_nav_menu">
                        <ul>
                            <li><a href="#" style="color: white;">Politique de confidentialité</a></li>
                            <li><a href="#" style="color: white;">Conditions générales</a></li>
                            <!-- <li><a href="#">Career</a></li> -->
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 offset-lg-2 col-md-3">
                    <div class="widget">
                        <div class="socials">
                            <a href="#" (click)="$event.preventDefault()" style="color: white;" class="social social-twitter" aria-label="twitter" title="twitter" target="_blank"><i class="ui-twitter"></i></a>
                            <a href="#"  (click)="$event.preventDefault()" style="color: white;" class="social social-facebook" aria-label="facebook" title="facebook" target="_blank"><i class="ui-facebook"></i></a>
                            <!-- <a href="#" class="social social-youtube" aria-label="youtube" title="google plus" target="_blank"><i class="ui-youtube"></i></a> -->
                            <a href="#"  (click)="$event.preventDefault()"style="color: white;" class="social social-instagram" aria-label="instagram" title="instagram" target="_blank"><i class="ui-instagram"></i></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div> <!-- end container -->

    <div class="footer__bottom">
        <div class="container-fluid text-right text-md-center">
            <span class="copyright" style="color: white;">
                &copy; 2025 CIAU Architect
            </span>
        </div>
    </div> <!-- end footer bottom -->
</footer> <!-- end footer -->