<!-- Preloader -->
<!-- <div class="loader-mask">
    <div class="loader">
        "Loading..."
    </div>
</div> -->
<main class="main-wrapper">

    <!-- Navigation -->
    <app-header></app-header>
    <!-- end navigation -->


    <div class="content-wrapper content-wrapper--boxed oh">

        <div class="rev-offset"></div>

        <!-- Revolution Slider -->
        <div class="rev_slider_wrapper">
            <div class="rev_slider" id="slider-1" data-version="5.0">
                <ul>
                    <!-- SLIDE 1 -->
                    <li data-fstransition="fade" data-transition="fade" data-easein="default" data-easeout="default"
                        data-slotamount="1" data-masterspeed="1200" data-delay="8000" data-title="Modern Living Room">
                        <!-- MAIN IMAGE -->
                        <img src="assets/img/revolution/slid1.jpeg" alt="" data-bgrepeat="no-repeat"
                            data-bgfit="cover" data-bgparallax="7" class="rev-slidebg">

                        <!-- HERO TITLE -->
                        <div class="tp-caption hero-text" data-x="30" data-y="center"
                            data-voffset="[-140,-120,-100,-180]" data-fontsize="[72,62,52,46]"
                            data-lineheight="[72,62,52,46]" data-width="[none, none, none, 300]"
                            data-whitespace="[nowrap, nowrap, nowrap, normal]" data-frames='[{
                                "delay":1000,
                                "speed":900,
                                "frame":"0",
                                "from":"y:150px;opacity:0;",
                                "ease":"Power3.easeOut",
                                "to":"o:1;"
                                },{
                                "delay":"wait",
                                "speed":1000,
                                "frame":"999",
                                "to":"opacity:0;","ease":"Power3.easeOut"
                            }]' data-splitout="none"><span class="hero-dot"></span>
                        </div>

                        <!-- HERO SUBTITLE -->
                        <div class="tp-caption small-text" data-x="30" data-y="center" data-voffset="[-40,-30,-20,0]"
                            data-fontsize="[21,21,21,21]" data-lineheight="34" data-width="[none, none, none, 300]"
                            data-whitespace="[nowrap, nowrap, nowrap, normal]" data-frames='[{
                                "delay":1100,
                                "speed":900,
                                "frame":"0",
                                "from":"y:150px;opacity:0;",
                                "ease":"Power3.easeOut",
                                "to":"o:1;"
                                },{
                                "delay":"wait",
                                "speed":1000,
                                "frame":"999",
                                "to":"opacity:0;","ease":"Power3.easeOut"
                            }]'>
                        </div>

                        <!-- BUTTON -->
                        <div class="tp-caption" data-x="30" data-y="center" data-voffset="[60,60,60,100]"
                            data-lineheight="55" data-hoffset="0" data-frames='[{
                                    "delay":1200,
                                    "speed":900,
                                    "frame":"0",
                                    "from":"y:150px;opacity:0;",
                                    "ease":"Power3.easeOut",
                                    "to":"o:1;"
                                    },{
                                    "delay":"wait",
                                    "speed":1000,
                                    "frame":"999",
                                    "to":"opacity:0;","ease":"Power3.easeOut"
                                }]'><a href='#' class='btn btn--lg btn--color'></a>
                        </div>

                    </li> <!-- end slide 1 -->

                    <!-- SLIDE 2 -->
                    <li data-fstransition="fade" data-transition="fade" data-easein="default" data-easeout="default"
                        data-slotamount="1" data-masterspeed="1200" data-delay="8000" data-title="Astralian Museum">
                        <!-- MAIN IMAGE -->
                        <img src="assets/img/revolution/slid2.jpeg" alt="" data-bgrepeat="no-repeat"
                            data-bgfit="cover" data-bgparallax="7" class="rev-slidebg">

                        <!-- HERO TITLE -->
                        <div class="tp-caption hero-text" data-x="30" data-y="center"
                            data-voffset="[-140,-120,-100,-180]" data-fontsize="[72,62,52,46]"
                            data-lineheight="[72,62,52,46]" data-width="[none, none, none, 300]"
                            data-whitespace="[nowrap, nowrap, nowrap, normal]" data-frames='[{
                                "delay":1000,
                                "speed":900,
                                "frame":"0",
                                "from":"y:150px;opacity:0;",
                                "ease":"Power3.easeOut",
                                "to":"o:1;"
                                },{
                                "delay":"wait",
                                "speed":1000,
                                "frame":"999",
                                "to":"opacity:0;","ease":"Power3.easeOut"
                            }]' data-splitout="none"><span class="hero-dot"></span>
                        </div>

                        <!-- HERO SUBTITLE -->
                        <div class="tp-caption small-text" data-x="30" data-y="center" data-voffset="[-40,-30,-20,0]"
                            data-fontsize="[21,21,21,21]" data-lineheight="34" data-width="[none, none, none, 300]"
                            data-whitespace="[nowrap, nowrap, nowrap, normal]" data-frames='[{
                                "delay":1100,
                                "speed":900,
                                "frame":"0",
                                "from":"y:150px;opacity:0;",
                                "ease":"Power3.easeOut",
                                "to":"o:1;"
                                },{
                                "delay":"wait",
                                "speed":1000,
                                "frame":"999",
                                "to":"opacity:0;","ease":"Power3.easeOut"
                            }]'>
                        </div>

                        <!-- BUTTON -->
                        <div class="tp-caption" data-x="30" data-y="center" data-voffset="[60,60,60,100]"
                            data-lineheight="55" data-hoffset="0" data-frames='[{
                                    "delay":1200,
                                    "speed":900,
                                    "frame":"0",
                                    "from":"y:150px;opacity:0;",
                                    "ease":"Power3.easeOut",
                                    "to":"o:1;"
                                    },{
                                    "delay":"wait",
                                    "speed":1000,
                                    "frame":"999",
                                    "to":"opacity:0;","ease":"Power3.easeOut"
                                }]'><a href='#' class='btn btn--lg btn--color'></a>
                        </div>

                    </li> <!-- end slide 1 -->

                    <!-- SLIDE 3 -->
                    <li data-fstransition="fade" data-transition="fade" data-easein="default" data-easeout="default"
                        data-slotamount="1" data-masterspeed="1200" data-delay="8000" data-title="Horizon Urban">
                        <!-- MAIN IMAGE -->
                        <img src="assets/img/revolution/slid3.jpeg" alt="" data-bgrepeat="no-repeat"
                            data-bgfit="cover" data-bgparallax="7" class="rev-slidebg">

                        <!-- HERO TITLE -->
                        <div class="tp-caption hero-text" data-x="30" data-y="center"
                            data-voffset="[-140,-120,-100,-180]" data-fontsize="[72,62,52,46]"
                            data-lineheight="[72,62,52,46]" data-width="[none, none, none, 300]"
                            data-whitespace="[nowrap, nowrap, nowrap, normal]" data-frames='[{
                                "delay":1000,
                                "speed":900,
                                "frame":"0",
                                "from":"y:150px;opacity:0;",
                                "ease":"Power3.easeOut",
                                "to":"o:1;"
                                },{
                                "delay":"wait",
                                "speed":1000,
                                "frame":"999",
                                "to":"opacity:0;","ease":"Power3.easeOut"
                            }]' data-splitout="none"><span class="hero-dot"></span>
                        </div>

                        <!-- HERO SUBTITLE -->
                        <div class="tp-caption small-text" data-x="30" data-y="center" data-voffset="[-40,-30,-20,0]"
                            data-fontsize="[21,21,21,21]" data-lineheight="34" data-width="[none, none, none, 300]"
                            data-whitespace="[nowrap, nowrap, nowrap, normal]" data-frames='[{
                                "delay":1100,
                                "speed":900,
                                "frame":"0",
                                "from":"y:150px;opacity:0;",
                                "ease":"Power3.easeOut",
                                "to":"o:1;"
                                },{
                                "delay":"wait",
                                "speed":1000,
                                "frame":"999",
                                "to":"opacity:0;","ease":"Power3.easeOut"
                            }]'>
                        </div>

                        <!-- BUTTON -->
                        <div class="tp-caption" data-x="30" data-y="center" data-voffset="[60,60,60,100]"
                            data-lineheight="55" data-hoffset="0" data-frames='[{
                                    "delay":1200,
                                    "speed":900,
                                    "frame":"0",
                                    "from":"y:150px;opacity:0;",
                                    "ease":"Power3.easeOut",
                                    "to":"o:1;"
                                    },{
                                    "delay":"wait",
                                    "speed":1000,
                                    "frame":"999",
                                    "to":"opacity:0;","ease":"Power3.easeOut"
                                }]'><a href='#' class='btn btn--lg btn--color'></a>
                        </div>

                    </li> <!-- end slide 1 -->

                </ul>
            </div>
        </div>

        <!-- Intro -->
        <section class="section-wrap intro pb-40">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <h2 class="intro__title">30 ans d'expérience</h2>
                        <p>CIAU, un acteur majeur de l’architecture et de l’ingénierie, conjugue expertise et créativité pour façonner des espaces uniques et fonctionnels. Fort de plus de 30 ans d’expérience, notre cabinet allie innovation, excellence et engagement pour répondre aux défis de la mondialisation.</p>
                        <p>Au-delà de la conception architecturale, nous intégrons des solutions techniques avancées et une approche durable, garantissant des réalisations harmonieuses et pérennes. Notre ambition : repenser les espaces, optimiser les ressources et offrir des environnements où esthétique et fonctionnalité se rencontrent.</p>
                        <div class="row mb-lg-48">
                            <div class="col-sm-4">
                                <div class="feature">
                                    <i class="icon-Hotel-3 feature__icon"></i>
                                    <h4 class="feature__title">Architecture</h4>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="feature">
                                    <i class="icon-Ruler-Tool feature__icon"></i>
                                    <h4 class="feature__title">Conception d'intérieur</h4>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="feature">
                                    <i class="icon-Trowel-and-Brick feature__icon"></i>
                                    <h4 class="feature__title">Maîtrise d'ouvrage</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <img src="assets/img/intro/img1.jpg" class="img-full-width" alt="">
                    </div>
                </div>
            </div>
        </section> <!-- end intro -->


        <!-- Portfolio -->
        <section class="section-wrap pt-72 pb-72 pb-lg-40">
            <div class="container">
                <div class="title-row">
                    <h2>Découvrez Nos Réalisations</h2>
                </div>

                <!-- Filter -->
               <!-- end filter -->

                <div class="masonry-grid">
                  <ng-container *ngIf="projects.length > 0; else noImage">
                    <div class="masonry-item project hover-trigger"
                         [ngClass]="{
                           'large': project.size === 'large',
                           'medium': project.size === 'medium',
                           'small': project.size === 'small'
                         }"
                         style="width: 32.5%;"
                         *ngFor="let project of projects">
                      <div class="project__container">
                        <div class="project__img-holder">
                          <a [routerLink]="['/portfolio-details', project.id]">
                            <img [src]="project?.image" class="project__img" alt="{{ project?.title }}">
                            <div class="hover-overlay">
                              <div class="project__description">
                                <h3 class="project__title">{{ project?.title }}</h3>
                                <span class="project__date">{{ project?.year }}</span>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                  <ng-template #noImage>
                    <div class="container">
                      <div class="alert alert-danger text-center" role="alert">
                        Il n'y a pas encore d'image dans la galerie
                      </div>
                    </div>
                  </ng-template>

                </div>
            </div>
        </section>
        <!-- end portfolio -->


        <!-- Testimonials -->
        <!-- <section class="section-wrap bg-dark-overlay" style="background-image: url('assets/img/testimonials/bg.jpg');">
            <div class="container">
                <div class="title-row text-center">
                    <p class="subtitle">Testimonials</p>
                    <h2 class="section-title">What clients say about us</h2>
                    <i class="quote">“</i>
                </div>

                <div class="slick-slider slick-testimonials">

                    <div class="testimonial clearfix">
                        <div class="testimonial__body">
                            <p class="testimonial__text">“I have witnessed and admired the work for years. I highly
                                recommend this work for anyone seeking to increase.”</p>
                        </div>
                        <div class="testimonial__info">
                            <span class="testimonial__author">Joeby Ragpa</span>
                            <span class="testimonial__company">DeoThemes</span>
                        </div>
                    </div>

                    <div class="testimonial clearfix">
                        <div class="testimonial__body">
                            <p class="testimonial__text">“Every detail has been taken care these team are realy amazing
                                and talented! I will work only to help your sales goals.”</p>
                        </div>
                        <div class="testimonial__info">
                            <span class="testimonial__author">Alexander Samokhin</span>
                            <span class="testimonial__company">DeoThemes</span>
                        </div>
                    </div>

                    <div class="testimonial clearfix">
                        <div class="testimonial__body">
                            <p class="testimonial__text">“I have witnessed and admired the work for years. I highly
                                recommend this work for anyone seeking to increase.”</p>
                        </div>
                        <div class="testimonial__info">
                            <span class="testimonial__author">Joeby Ragpa</span>
                            <span class="testimonial__company">DeoThemes</span>
                        </div>
                    </div>

                    <div class="testimonial clearfix">
                        <div class="testimonial__body">
                            <p class="testimonial__text">“Every detail has been taken care these team are realy amazing
                                and talented! I will work only to help your sales goals.”</p>
                        </div>
                        <div class="testimonial__info">
                            <span class="testimonial__author">Alexander Samokhin</span>
                            <span class="testimonial__company">DeoThemes</span>
                        </div>
                    </div>

                </div>

            </div>
        </section> -->

        <!-- Partners -->
        <div class="partners bg-light text-center py-4">
            <div class="container">
                <div class="row justify-content-center align-items-center">
                    <div class="col-lg-3 col-md-4 col-sm-6 mb-3" *ngFor="let partner of partners">
                        <a href="#" class="d-block">
                            <img [src]="partner.img" [alt]="partner.alt" width="45%" class="img-fluid partner-logo-sma" >
                        </a>
                    </div>

                </div>
            </div>
        </div>


        <!-- From Blog -->
        <section class="section-wrap blog-grid">
            <div class="container">
              
            </div>
        </section> <!-- end from blog -->

        <app-footer></app-footer>

        <div id="back-to-top">
            <a href="#top"><i class="ui-arrow-up"></i></a>
        </div>

    </div> <!-- end content wrapper -->
</main>